.help {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  position: relative;
}

.dropdown{
    margin: 30px;
    text-align: left;
    padding-left: 15%;
   
}